<form action="/students/" method="POST">
  <label>Student Name:
    <input type="text" name="student[name]">
  </label>
  <br />
  <label>Profile Image:
    <input type="text" name="student[profile_image]">
  </label>
  <br />
  <label>Twitter Username:
    <input type="text" name="student[twitter]">
  </label>
  <br />
  <label>Linkedin Username:
    <input type="text" name="student[linkedin]">
  </label>
  <br />
  <label>GitHub Username:
    <input type="text" name="student[github]">
  </label>
  <br />
  <label>Quote:
    <input type="text" name="student[quote]">
  </label>
  <br />
  <label>Bio:
    <input type="text" name="student[bio]">
  </label>
  <br />
  <label>Work:
    <input type="text" name="student[work]">
  </label>
  <br />
  <label>Work Title:
    <input type="text" name="student[work_title]">
  </label>
  <br />
  <label>Education:
    <input type="text" name="student[education]">
  </label>
  <br />
 

  <input type="submit" value="Submit">
</form>